Q.2
1. Create a Numpy array of student marks in 5 subjects out of maximum 100 marks. There are in total 40 students.
2. Convert this into a Pandas dataframe corresponding to students ids from 202101 to 202140.
3. Get the average marks in each subject.
4. Get the percentage of each student and add that for each student in a separate column.

In [1]:
import numpy as np
import pandas as pd

In [2]:
#Examples
dates = pd.date_range('20220222', periods=10)

### 1

In [3]:
marks = np.random.randint(0,100, (40,5))
marks

array([[99, 42, 50, 79, 59],
       [36, 57, 32, 45, 14],
       [50,  2, 40,  7, 74],
       [99, 41, 49, 85, 92],
       [86, 71, 98, 74, 61],
       [48, 96, 58, 85, 63],
       [ 7, 59,  6, 66, 47],
       [92, 36,  5, 64, 22],
       [90, 19, 92,  1, 85],
       [18, 75, 79, 75, 24],
       [53, 12, 89, 81, 80],
       [11, 18, 30, 86, 34],
       [22, 86, 88, 62, 78],
       [85, 14, 85,  2, 29],
       [13, 32, 79, 64, 19],
       [24, 54, 73, 69, 39],
       [71, 57, 40, 76, 50],
       [98, 80, 81, 78, 44],
       [69, 92, 28, 41, 12],
       [23, 88, 11, 58, 35],
       [51,  5, 64,  9, 21],
       [84, 78, 91, 14, 76],
       [70, 95, 79, 20, 31],
       [89, 19, 92, 31, 18],
       [14, 49, 34, 39, 92],
       [31, 29, 75, 95, 75],
       [45,  3, 51, 66, 90],
       [85, 96, 46, 79, 79],
       [84, 99, 20, 88, 26],
       [30, 89, 66, 66, 29],
       [86, 14, 70, 59, 67],
       [60, 73, 34, 70, 57],
       [10, 41, 16, 65, 32],
       [42,  2, 99, 39, 78],
       [37, 60,  2, 17, 62],
       [79, 90, 84, 99, 78],
       [33, 58, 69, 41,  3],
       [84, 68, 54, 75, 39],
       [47, 58, 76, 25, 71],
       [20, 22, 23, 74, 49]])

### 2

In [4]:
# ids = pd.Series(np.arange(202101, 202141))
ids = np.arange(202101, 202141)
ids
# ids = np.reshape(ids, (40,1))

array([202101, 202102, 202103, 202104, 202105, 202106, 202107, 202108,
       202109, 202110, 202111, 202112, 202113, 202114, 202115, 202116,
       202117, 202118, 202119, 202120, 202121, 202122, 202123, 202124,
       202125, 202126, 202127, 202128, 202129, 202130, 202131, 202132,
       202133, 202134, 202135, 202136, 202137, 202138, 202139, 202140])

### Method 1

In [5]:
students_df = pd.DataFrame({'ID': ids,
                            'Sub1':marks[:,0],
                            'Sub2':marks[:,1],
                            'Sub3':marks[:,2],
                            'Sub4':marks[:,3],
                            'Sub5':marks[:,4] })
students_df
# students_df.head()
# students_df.tail()

        ID  Sub1  Sub2  Sub3  Sub4  Sub5
0   202101    99    42    50    79    59
1   202102    36    57    32    45    14
2   202103    50     2    40     7    74
3   202104    99    41    49    85    92
4   202105    86    71    98    74    61
5   202106    48    96    58    85    63
6   202107     7    59     6    66    47
7   202108    92    36     5    64    22
8   202109    90    19    92     1    85
9   202110    18    75    79    75    24
10  202111    53    12    89    81    80
11  202112    11    18    30    86    34
12  202113    22    86    88    62    78
13  202114    85    14    85     2    29
14  202115    13    32    79    64    19
15  202116    24    54    73    69    39
16  202117    71    57    40    76    50
17  202118    98    80    81    78    44
18  202119    69    92    28    41    12
19  202120    23    88    11    58    35
20  202121    51     5    64     9    21
21  202122    84    78    91    14    76
22  202123    70    95    79    20    31
23  202124    89    19    92    31    18
24  202125    14    49    34    39    92
25  202126    31    29    75    95    75
26  202127    45     3    51    66    90
27  202128    85    96    46    79    79
28  202129    84    99    20    88    26
29  202130    30    89    66    66    29
30  202131    86    14    70    59    67
31  202132    60    73    34    70    57
32  202133    10    41    16    65    32
33  202134    42     2    99    39    78
34  202135    37    60     2    17    62
35  202136    79    90    84    99    78
36  202137    33    58    69    41     3
37  202138    84    68    54    75    39
38  202139    47    58    76    25    71
39  202140    20    22    23    74    49

In [6]:
marks[:,0]

array([99, 36, 50, 99, 86, 48,  7, 92, 90, 18, 53, 11, 22, 85, 13, 24, 71,
       98, 69, 23, 51, 84, 70, 89, 14, 31, 45, 85, 84, 30, 86, 60, 10, 42,
       37, 79, 33, 84, 47, 20])

In [7]:
a = np.array([[1, 2, 3], [10, 20, 30]])
b = np.array([[4, 5, 6], [7, 8, 9]])
c = np.concatenate((a,b), axis = 0)
c
d = np.concatenate((a,b), axis = 1)
d

array([[ 1,  2,  3],
       [10, 20, 30],
       [ 4,  5,  6],
       [ 7,  8,  9]])

array([[ 1,  2,  3,  4,  5,  6],
       [10, 20, 30,  7,  8,  9]])

In [9]:
df = np.concatenate((ids, marks), axis = 1)
df

AxisError: axis 1 is out of bounds for array of dimension 1

### Method 2

In [ ]:
students_df1 = pd.DataFrame( df, columns = ['ID', 'Sub1', 'Sub2', 'Sub3', 'Sub4', 'Sub5'] )
students_df1

### Method 3

In [ ]:
students_df2 = pd.DataFrame( marks, index = ids, columns = ['Sub1', 'Sub2', 'Sub3', 'Sub4', 'Sub5'])
# marks_df = pd.DataFrame( marks, index = ids, columns = ['S1', 'S2', 'S3', 'S4', 'S5'])

students_df2

### 3

In [ ]:
# students_df2["Sub1"].mean()
# students_df2["Sub2"].mean()
# students_df2["Sub3"].mean()
# students_df2["Sub4"].mean()
# students_df2["Sub5"].mean()

students_df2.mean()

### 4

In [ ]:
total_marks = students_df2['Sub1'] + students_df2['Sub2'] + students_df2['Sub3'] + students_df2['Sub4'] + students_df2['Sub5']
total_marks

In [ ]:
per_marks = total_marks/5
per_marks
# students_df2('Percentage') = per_marks